.navbar{
    background-color:  #e699ff;
    height: 90px;
    width: 100%;
    position: sticky;
    width: 100%;
    z-index: 100%;
    color: rgb(14, 15, 15);
    display: flex;
    align-items: center;
}
.home{
    margin-left: 20%;
}
.vegetable{
    margin-left: 7%;
    text-decoration: none;
}
.Contact{
    margin-left: 7%;
}
.about{
    margin-left: 7%;
}
.feedback{
    margin-left: 7%;
}    
.search{
    margin-left: 7%;
}